<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Event Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="vertical-center-row">
            <div align="left">
                <h1>
                    <%= title %>
                </h1>
         
                <% if (error !== null) { %>
                    <div class="alert alert-danger"><%= error %></div>
                  <% } %>
            </div>
                <div>
                    <form action="/eventscontrol/add" method="POST">
                        Event Name:
                        <br>
                        <input type="text" name="hobby_name" placeholder="Event Name">
                        <br>
                        <br> 
                        Quota:
                        <br>
                        <input type="text" name="quota" placeholder="Max Participants">
                        <br>
                        <br>
                        Schedule:
                        <br>
                        <input type="date" name="schedule" min="2018-01-01">
                        <br>
                        <br>
                        <select name="HobbyId" >
                            <option value="">Select hobby category:</option>
                                <% hobbyData.forEach(hobby => {%>
                                    <option value="<%= hobby.id %>"><%= hobby.category %></option>
                               <% }) %>
                            </select>
                        <button type="submit" value="Submit">Submit</button>
                    </form>
                </div>
                <br>
                <div align="left">
                    <a href="/dashboard-admin" class="btn btn-primary" role="button">Back to Homepage</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>